<form class="border p-3 rounded-3" [formGroup]="loginform" (ngSubmit)="onLoginClick()">
  <div class="row g-0">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class="fs-3">Login</span>
    </div>
  </div>
  <div class="row">
    <div *ngIf="invalidlogin" class="alert alert-danger">Invalid username or password</div>
      <div class="col mb-3">
          <label for="username" class="form-label"><b>UserName</b></label>
          <input type="username" class="form-control" id="username" formControlName="username">
          <div class="form-text text-danger" *ngIf="UserName.errors?.['required'] && (UserName.dirty || UserName.touched)">
            UserName is required
          </div>
        </div>
  </div>
  <div class="row">
    <div class="col mb-3">
        <label for="pwd" class="form-label"><b>Password</b></label>
        <input type="pwd" class="form-control" id="pwd" formControlName="pwd">
        <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">
          Password is Required
        </div>
    </div>
</div>

<div class="row">
  <div class="col-6 offset-3">
     <div class="d-grid">
       <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary">Login</button>
     </div>
  </div>
</div>
</form>
